body {
    background-color: bisque;
    padding-top: 50px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(252, 205, 200);
    position: fixed;
    top: 0;
    width: 100%;
left: 0;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    padding: 10px;
  }

  li a:hover {
    background-color: salmon;
  }
  .guideline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }
  
  
  .guide1 {
    background-color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .guide1 img{
    width: 20em;
    height: auto;
  }
 .guide1:hover {
    transform: scale(1.2);
    transition: 2s;
  }
  
     
.guide2{
    background-color: khaki;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.guide2 img{
    width: 20em;
    height: auto;
}
.guide2:hover {
    transform: scale(1.2);
    transition: 2s;
  }
.guide3 {
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .guide3 img{
    width: 20em;
    height: auto;
  }
  .guide3:hover {
    transform: scale(1.2);
    transition: 2s;
  }